<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6nox1MBP30Kr9xfKcUPJWPM-A6VP7Eqs</string>
	<key>GCM_SENDER_ID</key>
	<string>566107811598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storeshop</string>
	<key>PROJECT_ID</key>
	<string>store-shop-4d46c</string>
	<key>STORAGE_BUCKET</key>
	<string>store-shop-4d46c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566107811598:ios:4903ba1e1f1539540cf15f</string>
</dict>
</plist>